#AddType x-httpd-php54 .php

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule    ^$    webroot/    [L]
RewriteRule    (.*) webroot/$1    [L]
RewriteCond %{HTTP_HOST} ^hcbooking.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^hcbooking.uk$
RewriteCond %{HTTP_HOST} ^(.*)\hcbooking.uk
RewriteRule ^(.*)$ https://hcbooking[L,NC,QSA]
</IfModule>

#RewriteCond %{REQUEST_URI} !hertscubs/webroot/
#RewriteRule (.*) /hertscubs/webroot/ [L]
#RewriteBase /hertscubs/webroot/

#RewriteCond %{REQUEST_URI} !public_html/hertscubs/webroot/
#RewriteRule (.*) /public_html/hertscubs/webroot/ [L]
#RewriteBase /public_html/hertscubs/webroot/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
# Added automatically by Gridhost panel Monday 19th of October 2015 07:05:23 PM
Options -Indexes